@using MVC.AdminPanel_PustokWebSite.Models;
@model Service;
<div class="container shadow" style="max-width:800px;padding:50px;">
    <div>
        <h1>Create a Service Card</h1>
    </div>
    <form method="post">
        <div class="form-group">
            <label for="">Title:</label>
            <input type="text" asp-for="Title" class="form-control" placeholder="Enter title">
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="form-group">
            <label for="">Description:</label>
            <input type="text" asp-for="Desc" class="form-control" placeholder="Enter description">
            <span asp-validation-for="Desc" style="color:red"></span>
        </div>
        <div class="form-group">
            <label for="">Class Name:</label>
            <input type="text" asp-for="Icon" class="form-control" placeholder="Enter class Name of the icon">
            <span asp-validation-for="Icon" style="color:red"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>